.navbar {
    font-size: 40px;
    justify-content: center;
}

#display {
    background-color: grey;
}

.navbar-brand {
    font-size: 40px;
}

h1{
    font-size: 30px;
}



#display {
    height: 150px;
    width: 100%;
}



